# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\sixti\OneDrive\Documents\Travail\ESIEE\E5\S2\vision-par-ordinateurs\TP_note\vision_par_ordinateur_tp_note\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
